body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  text-align: center;
}

.section {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="tel"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  
  /* Add any other desired styles for the disabled button */
}

button:hover {
  background-color: #3e8e41;
}

#payAmt {
  font-size: 32px;
  margin-top: 10px;
}

.mid {
  text-align: center;
  }

.green {
 color :#00aa00;
}
.red {
  color: #ff0000;
}
.lightRed {
  color: #aa0000;
}




